@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --accent-color: #3fc574;
    --accent-opacity: rgb(63, 197, 116, 0.15);
    --primary-color:black;
    --compementary-color:white;
}
/* added */
:target::before {
    content: "";
    display: block;
    height: 100px; /* fixed header height*/
  }
/* added */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 62.5%;
  }

 /*Navbar styling */ 

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    z-index: 5;
  }
/* added */
  #navbar #hamburger-menu {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: var(--compementary-color);
    transition: all .5s;
}
/* added */
 a.logo {
    font-size: 4rem;
    line-height: 100px;
    padding: 0 60px;
    cursor: pointer;
    text-decoration: none;
    color: var(--compementary-color);
}

#navbar ul {
    float: right;
    margin-right: 40px;
}

#navbar ul li{
    display: inline;
    line-height: 100px;
    padding-left: 40px;
}

#navbar ul li a{
    color: var(--compementary-color);
    font-size: 1.8rem;
}
#navbar ul li a:hover{
    color: var(--primary-color);
}

.checkbtn{
    font-size: 20px;
    float: right;
    margin-right: 40px;
    color: var(--compementary-color);
    line-height: 100px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

 /*Main block styling */ 

main{
    top:100px;
    position: absolute;
}

 /*Welcome section styling */ 

#welcome-section{
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content:space-between;
}

h1 {
    margin-left: 60px;
    margin-right: 20px;
    font-size: 5rem;
    font-weight: 400;
}

.accent {
    color: var(--accent-color);
}

.my-photo{
width: 50%;
height: 100%;
object-fit: cover;
}

 /*Projects section styling */ 

#projects{
    display: block;
    width: 100vw;
    margin: 0 auto;
    padding: 30px 60px 60px 60px;
    background-color: var(--primary-color);
}

h2 {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    margin: 30px 0;
    color: var(--accent-color);
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    place-items: center;
    padding: 30px;
}

.project-tile{
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
   border: 3px solid var(--compementary-color);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);;
}

.project-tile:hover .card-text{
right:0;
}

.project-tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text{
    width: 100%;
    height: 100%;
    top:0;
    right:-100%;
    padding: 40px;
    position: absolute;
    background: rgba(253, 253, 253, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.project-title a{
    font-size: 2.4rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}

.project-title a:hover{
    color: var(--primary-color);
}

.project-description,
.project-tech{
    font-size: 1.8rem;
    width: 60%;
    
}
.project-tech{
    margin: 10px 0 40px 0;
    font-weight: 300;
    font-style: italic;
}

.project-description {
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 2.4rem;
}


a.btn{
    color: var(--accent-color);
    padding: 10px 40px;
    background-color: var(--compementary-color);
    border: 1px solid var(--accent-color);
    cursor: pointer;
    width: 120px;
    font-size: 1.8rem;
}

a.btn:hover{
    color: var(--compementary-color);
    background-color: var(--accent-color);
}


/*Contacts section styling */

#contacts{
    width: 100vw;
    height: 50vh;
    margin: 60px auto;
    text-align: center;  
    display: flex;
    align-items: center;
    justify-content:center;
}

#contacts h2 {
    color: var(--primary-color);
    font-size: 3.6rem;
    font-weight: 400;
    margin-bottom: 20px;
}

a.email, .social-icons a{
    font-size: 1.8rem;
    color: var(--primary-color);
}

a.email:hover{
    color: var(--accent-color);
}

.social-icons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap:20px;
}

.social-icons i {
    color: var(--accent-color);
    font-size: 2.4rem;
}

.social-icons i:hover{
    color: var(--primary-color);
}


/*Responsiveness */

@media (max-width: 942px) {
    .project-description,
    .project-tech{
    width: 100%;
}
}

@media (max-width: 766px) {
    .project-description,
    .project-tech, a.btn{
    font-size: 1.4rem;
}

.project-title a{
    font-size: 1.8rem;
}

.project-tech{
    margin: 10px 0 2ch 0;
}

.project-description {
    margin-bottom: 20px;
    line-height: 2rem;
}

a.logo{
    font-size: 2.4rem;
}

#navbar ul li{
    padding-left: 20px;
}

#navbar ul li a{
    font-size: 1.4rem;
}

h1 {
    font-size: 3.4rem;
}
.projects{
    grid-template-columns: 1fr;
}

}



@media (max-width: 464px) {
    .my-photo{
        display: none;
    }

    h1{
        text-align: center;
        margin: 0 auto;
        padding: 0 20px;
        font-size: 2.6rem;
    }
    
    .checkbtn{
        display: block;
    }

    #navbar #main-menu {
        display:none;
    }

    #navbar ul li a{
        color: var(--primary-color);
        font-size: 1.8rem;
    }

    #navbar ul li {
        display: block;
        text-align: center;
        line-height: 80px;
        
    }

    #navbar ul li:hover{
        background-color: var(--accent-opacity);
  
    }

    #navbar ul li a:hover, #navbar ul li a:active{
        color: var(--accent-color);
    }

    h2 {
        font-size: 2rem;
    }

    .projects{
        padding: 0;
    }

    #projects{
        padding: 5%;
    }

    #contacts{
        width:80%;
    }
    #contacts a.email{
        font-size: 1.6rem;
    }
}